* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    color: #000;
}

body.dark-theme {
    background-color: #000;
    color: #ffff;
}
